.filter-section {
  .title-filter {
    .form-control {
      height: 30px;
      min-height: 30px !important;
      padding: 2rem 1rem 1rem 1rem !important;
    }
    label {
      padding: 5px;
    }
  }

  .author-filter {
    .form-control {
      height: 30px;
      min-height: 30px !important;
      padding: 2rem 1rem 1rem 1rem !important;

    }
    label {
      padding: 5px;
    }
  }
}
